@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  background-color: transparent;
  border: 0px none;
  outline: 0px none;
  margin: 0;
  padding: 0;
}

a {
  color: #333;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

.menu {
  display: flex;
}

.menu li {
  padding-right: 2rem;
  padding-left: 2rem;
}

.container {
  max-width: 1240px;
  margin: auto;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "main-panel side-top"
    "main-panel side-middle"
    "main-panel side-bottom"
    "page-footer page-footer";
  grid-template-columns: 75% auto;
  grid-template-rows: 30% 30% auto 10%;
}

.main-panel {
  grid-area: main-panel;
  padding-right: 1rem;
}

.side-top {
  grid-area: side-top;
  padding-bottom: 1rem;
}

.side-middle {
  grid-area: side-middle;
  padding-bottom: 1rem;
}

.side-bottom {
  grid-area: side-bottom;
}

.page-footer {
  grid-area: page-footer;
  display: flex;
  justify-content: space-between;
}

img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}